.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.icon img {
  margin-top: 25px;
  width: 118px; }

.list-body {
  background: linear-gradient(117deg, #1a1f2a 0%, rgba(255, 128, 0, 0.760942) 46%);
  margin: 0px;
  padding: 0px; }

.wrapper-list {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 1720px) {
    .wrapper-list {
      margin: 0 auto;
      width: 70%; } }

.songs-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 66px; }

.pages-links {
  margin-top: 122px;
  margin-left: 130px; }

.pages-links a + a {
  margin-left: 100px; }

.songs-list {
  width: 641px; }
  .songs-list ul {
    padding: 0;
    margin: 0; }

.artist_list li {
  list-style: none;
  border-top: 1px solid white;
  padding-top: 27px;
  padding-bottom: 27px; }

.picture-album {
  width: 50px;
  height: 50px; }

.item-artist-list {
  display: flex; }

.name-album {
  margin-left: 40px;
  width: 140px; }

.name-artist {
  width: 215px;
  margin-left: 80px; }

.btn-play-artist {
  padding-top: 9px;
  margin-left: 50px; }

.artist-box {
  display: flex;
  justify-content: space-between; }

.artist_list_info {
  margin-left: 267px;
  width: 367px; }

.picture-artist-info {
  border-radius: 190px;
  width: 367px; }

.name-artist-info {
  font-size: 28px;
  font-weight: bold; }

.name-artist-description {
  font-size: 16px; }

.perfil-body {
  background: linear-gradient(90deg, #010b20 0%, #2bbebe 100%);
  margin: 0px;
  padding: 0px; }

.wrapper-Perfil {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 1720px) {
    .wrapper-Perfil {
      margin: 0 auto;
      width: 70%; } }

.box-perfil {
  margin-top: 100px; }

#recently {
  margin-top: 86px; }

.playlist-name {
  border-bottom: 1px solid white;
  width: 350px; }

#user-name {
  margin-top: 40px; }

#pencil {
  float: right;
  margin-top: -40px;
  width: 24px; }

#create-playlist {
  width: 350px; }
  #create-playlist img {
    float: right;
    margin-top: 20px;
    width: 30px; }

.songs-playlist {
  float: right;
  width: 400px; }

.canvasAnimate {
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid white; }

.menu ul {
  list-style: none;
  padding: 35px 0 0 0; }

.menu li {
  float: left;
  margin-right: 100px; }

.menu img {
  width: 30px;
  height: 30px; }

.player-body {
  background-color: #01061D;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px; }

.wrapper-player {
  color: #ffffff;
  height: 100%;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 1720px) {
    .wrapper-player {
      margin: 0 auto;
      width: 70%; } }

#list-info-song {
  margin-top: 100px; }
  #list-info-song p {
    font-weight: bold; }
  #list-info-song .name-album {
    margin-left: 0;
    width: 500px; }

.box-iconsPlayer {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between; }
  .box-iconsPlayer .addList {
    background-color: #01061D;
    border: none;
    cursor: pointer; }
  .box-iconsPlayer #favorite {
    background-color: #01061D;
    border: none;
    cursor: pointer; }

.musicControls {
  display: flex;
  justify-content: space-between;
  width: 300px; }
  .musicControls #previous {
    background-color: #01061D;
    border: none;
    cursor: pointer; }
  .musicControls #play {
    background-color: #01061D;
    border: none;
    cursor: pointer; }
  .musicControls #next {
    background-color: #01061D;
    border: none;
    cursor: pointer; }
  .musicControls #btnPause {
    background-color: #01061D;
    border: none;
    cursor: pointer; }

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center; }

.modal-content {
  background: linear-gradient(180deg, rgba(255, 128, 0, 0.72) 0%, rgba(0, 76, 255, 0.29) 100%);
  border-radius: 8px;
  height: 300px;
  padding: 10px 20px;
  position: relative;
  width: 480px; }

.close {
  color: #ffffff;
  float: right;
  font-weight: bold;
  padding: 10px 10px 0 0;
  text-decoration: none; }

.close:hover {
  color: black;
  cursor: pointer;
  text-decoration: none; }

.title-modal {
  color: #ffffff;
  font-weight: bold;
  margin-left: 40px; }

.select-category {
  border-radius: 4px;
  height: 30px;
  margin-bottom: 40px;
  margin-left: 45px;
  width: 390px; }

.modal-label label {
  font-weight: bold; }

.label-category {
  margin-left: 45px; }

.modal-label {
  margin-left: 45px; }

.modal-input {
  border-radius: 4px;
  border: none;
  height: 25px;
  margin-bottom: 20px;
  margin-left: 45px;
  width: 385px; }

.modal-content button {
  background: linear-gradient(180deg, black 0%, rgba(85, 112, 173, 0.29) 100%);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-left: 45px;
  padding: 10px 149px;
  text-decoration: none; }

.sesion-body {
  background-image: url(../img/background-1.png);
  background-size: cover; }

.wrapper-sesion {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 1720px) {
    .wrapper-sesion {
      margin: 0 auto;
      width: 70%; } }

.box-artist {
  display: flex;
  flex-direction: column;
  width: 50%; }

.item-ul-sesion {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 50px; }
  .item-ul-sesion li {
    display: flex;
    flex-direction: column; }
  .item-ul-sesion a {
    text-decoration: none;
    color: white; }

.picture-artist-sesion {
  border-radius: 200px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px; }

.name-artist-sesion {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: lowercase; }
  .name-artist-sesion a {
    text-transform: lowercase; }

#container {
  background: linear-gradient(146deg, rgba(24, 30, 44, 0.9) 14%, rgba(255, 128, 0, 0.5) 100%);
  border-radius: 12px;
  color: white;
  float: right;
  margin: 114px 0 0px 0px;
  font-family: 'Montserrat', sans-serif;
  height: 670px;
  padding: 30px 30px;
  width: 350px; }

#container h3 {
  text-align: left; }

.input-box {
  display: grid;
  grid-row-gap: 10px;
  margin: 15px 0; }

.input-box input {
  height: 24px; }

#button-create {
  background-color: #FF9900;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 40px;
  justify-self: center;
  letter-spacing: 0.5px;
  width: 350px; }

#button-create:hover {
  background-color: #be7200;
  transform: scale(1.04); }

#button-sing {
  background-color: #FF9900;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 40px;
  justify-self: center;
  letter-spacing: 0.5px;
  width: 350px; }

#button-sing:hover {
  background-color: #be7200;
  transform: scale(1.04); }

#messageError {
  display: none;
  color: red;
  font-weight: bold; }

.home-body {
  background-image: url(../img/background-2.png);
  background-size: cover; }

.wrapper-home {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 1720px) {
    .wrapper-home {
      margin: 0 auto;
      width: 70%; } }

.box-home {
  display: flex;
  justify-content: space-between; }

.window {
  background: linear-gradient(180deg, #20bf55 14%, rgba(1, 186, 239, 0.72) 100%);
  border-radius: 4px;
  color: #fff;
  height: 400px;
  margin-top: 150px;
  text-align: center;
  width: 350px; }

.title-window {
  padding-top: 120px; }

.title-artist-sesion {
  margin-top: 100px; }

.item-ul {
  margin-left: 50px;
  margin-top: 50px; }

.item-artist {
  float: left;
  list-style: none;
  margin: 0 10px 60px 55px; }

.picture-artist {
  border-radius: 200px;
  height: 170px;
  margin-left: 10px;
  margin-top: 25px;
  width: 170px; }

.name-artist {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center; }

.pages-links {
  margin-left: 130px;
  margin-top: 122px; }

.pages-links a + a {
  margin-left: 100px; }
