.sesion-body{
  background-image: url(../img/background-1.png);
  background-size: cover;
}
.wrapper-sesion{
  display: flex;
  justify-content: space-between;
  color: $colorWhite;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  @media(min-width: 1720px){
    margin: 0 auto;
    width: 70%;
  }
}

.box-artist{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.item-ul-sesion{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 50px;
  a{
    text-decoration: none;
    color: white;
    margin-left: 45px;
  }
}

.picture-artist-sesion{
  border-radius: 200px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.name-artist-sesion{
  font-size: $p;
  font-weight: bold;
  text-align: center;
  text-transform: lowercase;
  a{
    text-transform: lowercase;
  }
}
