.list-body{
  background: $degradedFour;
  margin: 0px;
  padding: 0px;
}
.wrapper-list{
  color: $colorWhite;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  @media(min-width: 1720px){
    margin: 0 auto;
    width: 70%;
  }
}
.songs-title{
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 66px;
}

.pages-links{
  margin-top: 122px;
  margin-left: 130px;
}

.pages-links a + a{
  margin-left: 100px;
}

.songs-list{
  width: 641px;
  ul{
    padding: 0;
    margin: 0;
  }
}

.artist_list li{
  list-style: none;
  border-top: 1px solid white;
  padding-top: 27px;
  padding-bottom: 27px;
}

.picture-album{
  width: 50px;
}

.item-artist-list{
  display: flex;
}

.name-album{
  margin-left: 40px;
  width: 140px;
}

.name-artist{
  width: 215px;
  margin-left: 80px;
}

.btn-play-artist{
  padding-top: 9px;
  margin-left: 50px;
}

.artist-box{
  display: flex;
  justify-content: space-between;
}

.artist_list_info{
  margin-left: 267px;
  width: 367px;
}

.picture-artist-info{
  border-radius: 190px;
  width: 367px;
}

.name-artist-info{
  font-size: $h5;
  font-weight: bold;
}

.name-artist-description{
  font-size: $p;
}
