.wrapperlist{
  background: $degradedThree;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: $colorWhite;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid;
}

.songs-title{
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 66px;
  margin-left: 130px;
}

.pages-links{
  margin-top: 122px;
  margin-left: 130px;
}

.pages-links a + a{
  margin-left: 100px;
}

.songs-list{
  width: 641px;
  margin-left: 90px;
}

.artist_list li{
  list-style: none;
  border-top: 1px solid white;
  padding-top: 27px;
  padding-bottom: 27px;
}

.picture-artist{
  width: 50px;
}

.item-artist{
  display: flex;
}

.name-album{
  margin-left: 40px;
  width: 140px;
}

.name-artist{
  width: 215px;
  margin-left: 80px;
}

.btn-play-artist{
  padding-top: 9px;
  margin-left: 50px;
}

.artist-box{
  display: flex;
}

.artist_list_info{
  margin-left: 267px;
  width: 367px;
}

.picture-artist-info{
  border-radius: 190px;
  width: 367px;
}

.name-artist-info{
  font-size: $h5;
  font-weight: bold;
}

.name-artist-description{
  font-size: $p;
}
