#container {
  background:linear-gradient(146deg, rgba(24,30,44,0.90) 14%, rgba(255,128,0,0.50) 100%);
  border-radius: 12px;
  color: white;
  float: right;
  margin: 114px 0 0px 0px;
  font-family: 'Montserrat', sans-serif;
  height: 670px;
  padding: 30px 30px;
  width: 350px;
}

#container h3{
  text-align:left;
}
.input-box {
  display:grid;
  grid-row-gap:10px;
  margin:15px 0;
}

.input-box input {
  height:24px;
}

#button-create {
  background-color: #FF9900;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height:40px;
  justify-self:center;
  letter-spacing: 0.5px;
  width:350px;
}

#button-create:hover {
  background-color:#be7200;
  transform:scale(1.04);
}

#button-sing {
  background-color: #FF9900;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height:40px;
  justify-self:center;
  letter-spacing: 0.5px;
  width:350px;
}

#button-sing:hover {
  background-color:#be7200;
  transform:scale(1.04);
}
#messageError{
  display: none;
  color: red;
  font-weight: bold;
}

