.home-body{
  background-image: url(../img/background-2.png);
  background-size: cover;
}
.wrapper-home{
  color: $colorWhite;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  @media(min-width: 1720px){
    margin: 0 auto;
    width: 70%;
  }
}
.box-home{
  display: flex;
  justify-content: space-between;
}
.window{
  background: linear-gradient(180deg, rgba(32,191,85,1) 14%, rgba(1,186,239,0.72) 100%);
  border-radius: 4px;
  color: #fff;
  height: 400px;
  margin-top: 150px;
  text-align: center;
  width: 350px;
}
.title-window{
  padding-top: 120px;
}

.title-artist-sesion{
  margin-top: 100px;
}

.item-ul{
  margin-left: 50px;
  margin-top: 50px;
}

.item-artist{
  float: left;
  list-style: none;
  margin: 0 10px 60px 55px;
}

.picture-artist{
  border-radius: 200px;
  height: 170px;
  margin-left: 10px;
  margin-top: 25px;
  width: 170px;
}

.name-artist{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.pages-links{
  margin-left: 130px;
  margin-top: 122px;
}

.pages-links a + a{
  margin-left: 100px;
}
