.perfil-body{
  background: $degradedFive;
  margin: 0px;
  padding: 0px;
}
.wrapper-Perfil{
  color: $colorWhite;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  @media(min-width: 1720px){
    margin: 0 auto;
    width: 70%;
  }
}
