.perfil-body{
  background: $degradedFive;
  margin: 0px;
  padding: 0px;
}
.wrapper-Perfil{
  color: $colorWhite;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  @media(min-width: 1720px){
    margin: 0 auto;
    width: 70%;
  }
}

#recently{
  margin-top: 86px;
}
.playlist-name{
  border-bottom: 1px solid white;
  width: 350px;
}
#user-name{
  margin-top: 40px;
}
#pencil{
  float: right;
  margin-top: -40px;
  width: 24px;
}
#create-playlist {
  width: 350px;
  img{
    width: 30px;
    margin-top: 20px;
    float: right;
  }
}
.songs-playlist{
  float: right;
  width: 400px;
}
// #name{
//   width: 300px;
//   height: 28px;
//   border-radius: 5px;
//   border: 1px none;
// }
