.player-body{
  background-color: $backgroundBlue;
  margin: 0px;
  padding: 0px;
}
.wrapper-player{
  color: $colorWhite;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  @media(min-width: 1720px){
    margin: 0 auto;
    width: 70%;
  }
}

.box-iconsPlayer{
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  .addList{
    background-color: $backgroundBlue;
    border: none;
    cursor: pointer;
  }
  #favorite{
    background-color: $backgroundBlue;
    border: none;
    cursor: pointer;
  }

}

.musicControls{
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 300px;

  #previous{
    background-color: $backgroundBlue;
    border: none;
  }
  #play{
    background-color: $backgroundBlue;
    border: none;
  }
  #next{
    background-color: $backgroundBlue;
    border: none;
  }
  #btnPause{
    background-color: $backgroundBlue;
    border: none;
  }
}
